
header{
    padding: 20px;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-color:#CF9FFF;
}

.contenedor {
    display: flex;
}

.izquierda {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;

}

main {
    margin-top: 10px;
    padding: 30px;
    gap: 50px;
}

h3 {
   font-family: "Poppins", sans-serif;
   font-size: 2.0em;
}

.izquierda p{
    font-family: "Poppins";
    font-size: 1.1em;
    line-height: 1.6rem;
    padding-bottom:10%;
    padding-left: 10%;
}

button {
    border-radius: 50px;
    padding: 1rem 1.7rem;
    font-weight: 50em;
    cursor: pointer;
}

.social{
    text-align: right;
}

.social i{
    padding: 1rem;
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
}

.social i:hover {
    background-color: #c423bc;
    box-shadow: 0px 15px 20px rgba(226, 46, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.social i:active {
    transform: translateY(-1px);
  }

  .attribution {
    padding: 10px;
    font-family: "Poppins";
    font-size: 1.1em;
    line-height: 1.6rem;
    font-size: 12px;
    text-align: center;
    justify-self: baseline;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
  }
  
  .attribution a {
    color: #c423bc;
    text-decoration: none;
  }
/* From uiverse.io */
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #c423bc;
    box-shadow: 0px 15px 20px rgba(226, 46, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0%;
}